@charset "UTF-8";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}


header {
  background: #333;
  color: #fff;
  height: 60px;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
}


nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


nav a:hover {
  color: #ff9800;
}


section {
  padding: 80px 20px;
  max-width: 100%;
  margin: auto;
  border-bottom: 6px solid #fff; /* Divider line between sections */
  font-size: 20px;
}


h2 {
  margin-top: 0;
  color: #444;
}


#education , #awards {
  background-color: #FF9B42;
}


#work-experience, #cv {
  background-color: #D68238;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}


img {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
  object-fit: cover;
}
 
footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


.section-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
 
.section-flex .text {
    flex: 1;
}
 
.section-flex img {
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.section-flex img:hover {
	transform: scale(1.05);
}

.bronze {
	color: #A15300;
}

.silver {
	color: white;
}

.awards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* spacing between items */
  max-width: 900px;
  margin: auto;
}

.award-item {
	text-align: center;
}

.award-item p {
  width: 400px;
}


.award-item img {
  transform: scale(0.8);
  object-fit: cover; /* crop neatly without distortion */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


.award-item img:hover {
  transform: scale(0.85);
}

.award-item.wide {
	grid-column: span 2;
	text-align: center;
}

.award-item.wide img {
	transform: scale(0.8);
	object-fit: cover;
}

#moic {
	transform: rotate(90deg);
}

#moic img:hover {
	transform: scale(0.9);
}