@charset "UTF-8";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}


header {
  background: #333;
  color: #fff;
  height: 60px;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
}


nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


nav a:hover {
  color: #ff9800;
}


section {
  padding: 80px 20px;
  max-width: 100%;
  margin: auto;
  border-bottom: 6px solid #fff; /* Divider line between sections */
  font-size: 20px;
}


h2 {
  margin-top: 0;
  color: #444;
}


#learning-log, #statement-of-purpose {
  background-color: #B200FF;
}


#accomplishment {
  background-color: #C236FF;
}


img {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: top left;
  object-fit: cover;
}


img:hover {
  transform: scale(1.25);
}


.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.1em;
}


.contact-info a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #ff9800;
}


.contact-info i {
  font-size: 1.5em;
}
 
footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


.section-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
 
.section-flex .text {
    flex: 1;
}
 
.section-flex img {
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.bronze {
	color: #A15300;
}

.silver {
	color: white;
}