@charset "UTF-8";

html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
   margin: 0;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   border: 0;
}

html {
	background-color: #E8EAF6;
}

main {
	margin: 65px;
	padding: 0;
}

header {
    color: white;
    background-color: #1A237E;
    margin: 0em 4em 0.25em 4em;
    width: 100%;
}

a {
	color: #00B0FF;
}

header h1 {
	font-size: 24px;
	font-family: Verdana, sans-serif;
	font-weight: lighter;
}

header p {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}

header ul {
	background-color: #3F51B5;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px;
}

header ul:hover {
	background-color: #F50057;
}

.byline, .time {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	margin: 0;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 18px;
}

.byline {
	color: #7986CB;
}

time {
	color: #FF80AB;
}

hr {
	margin: 4px;
}

h3 {
	font-family: sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 20px;
	background-color: #7986CB;
	color: #FFFFFF;
	display: inline-block;
	width: 660px;
	font-size: 20px;
}

figcaption em {
	background-color: #C5CAE9;
	margin: 0;
	padding: 15px;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
	color: gray;
	display: inline-block;
	width: 670px;
}

.description_text {
	margin: 0;
	padding: 10px;
	background-color: white;
	display: inline-block;
	width: 680px;
}

#central_park, #related_photos, #reviews {
	width: 700px;
	border: 2px solid #C5CAE9;
}

.comment {
	margin: 0;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 18px;
}

footer {
	color: white;
    background-color: #1A237E;
    margin: 0em 4em 0.25em 4em;
	padding: 10px;
	width: 100%;
}

footer p {
	font-family: Verdana, sans-serif;
	padding: 3px;
}